@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style: none;
}

button {
  padding: 0.5em 1em;
  transition: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
}

button:hover {
  background-color: #555555;
  color: white;
}

.d-flex {
  display: flex;
}

body {
  width: 100vw;
  height: 100vh;
}

body > h1 {
  padding: 1em;
}

.border-round {
  border: 2px solid #555555;
  border-radius: 0.25em;
}

input[type=text] {
  outline: none;
  border: 2px solid #ccc;
  border-radius: 0.25em;
}

input[type=text]:focus {
  border-radius: 0.25em;
  border: 2px solid #555;
}

/* Recent Scores starts Here */

.recent-scores,
.add-scores {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 2em;
}

.recent-scores-header {
  justify-content: space-between;
}

.score-list {
  margin: 1em 0;
  min-height: 2em;
}

.scrore-list-item {
  padding: 0.5em;
}

.scrore-list-item:nth-child(even) {
  background-color: rgb(221, 221, 221);
}

.recent-scores-header,
.score-list {
  width: 100%;
}

/* Recent Scores Ends Here */

/* Add New Score Starts Here */

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

form > input {
  margin: 1em 0;
  padding: 0.5em;
}

form > button {
  margin: 1em 0;
  align-self: flex-end;
}

/* Add New Score Ends Here */
